@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
}

body {    
    height: 100%;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #6A0B0B;
    padding: 15px 0;
}

@mixin flexRow ($position: center){
    display: flex;
    justify-content: $position;
    align-items: center;
}


.row {
    @include flexRow(space-between);
    max-width: 76vw;
    margin-left: auto;
    margin-right: 30px;
}
.social-contacts {
    @include flexRow(space-around);
    gap: 8px;
    
    div {
        display: inline-block;
        margin: 0;
        
    }
    a {
        @include flexRow();
        min-width: 40px;
        height: 40px;
        background: #EBEBEB;
        border-radius: 5px;

        i {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #000000;
    
            &.fa-instagram-square {
                font-size: 18px;
            }
        }
        
        &#subscribeBtn {
            padding: 0 20px;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            background-color: black;
        }
    }
}
hr {
    border-top: 1px solid #DDDDDD;
    
}
nav {
    margin: 0.75em 0;
}

.menu {
    list-style: none;
    @include flexRow(flex-start);
    

    li:not(:last-child)::after {
        vertical-align: top;
        content: "|";
        font-size: 0.75rem;
        color: #DDDDDD;
        margin: 0 22px;
        
    }

    a {
        color: #000000;

        &:hover {
            font-weight: bold;
        }

        &.active {
            font-weight: bold;
        }
    }

    .fa-cloud {
        font-size: 1.5em;
        color: #D14343;
        margin-top: -5px;
        margin-right: 10px;
    }
}

.background-image {
    position: relative;
    
    img {
        position: absolute;
        left:0;
        top:-2px;
    }
}

.front-image {
    position: relative;
    height: 450px;
    margin-bottom: 48px;
    
    &__featured {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 140px;
        height: 40px;
        margin: 0;
        background: white;
        border-radius: 0px 5px;
        font-weight: 800;
        @include flexRow();

        .fa-star {
            font-size: 18px;
            line-height: 21px;
            color: #D24545;
            margin-right: 5px;
        }
    }
}

.latest {
    margin-top: 48px;
    gap: 40px;
    
    &__headline {
        align-self: flex-start;
    }

    &__news{

        h2 {
            font-weight: 800;
            font-size: 16px;
            margin-bottom: 36px;
        }
        
        article {
            position: relative;
            
            div {
                position: absolute;
                top: 5px;
                content: "";
                width: 6px;
                height: 43.04px;
                background: #D24545;
                
            }

            .article-items {
                padding-left: 20px;
                padding-bottom: 10px;
                padding-right: 5px;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;    
        }

        p {
            font-size: 14px;
            line-height: 130%;
            color: #2F2F2F;
        }

        hr {
            margin: 20px 0;
        }
    }
}