@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

body {
  height: 100%;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #6A0B0B;
  padding: 15px 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 76vw;
  margin-left: auto;
  margin-right: 30px;
}

.social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.social-contacts div {
  display: inline-block;
  margin: 0;
}

.social-contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  height: 40px;
  background: #EBEBEB;
  border-radius: 5px;
}

.social-contacts a i {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.social-contacts a i.fa-instagram-square {
  font-size: 18px;
}

.social-contacts a#subscribeBtn {
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: black;
}

hr {
  border-top: 1px solid #DDDDDD;
}

nav {
  margin: 0.75em 0;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li:not(:last-child)::after {
  vertical-align: top;
  content: "|";
  font-size: 0.75rem;
  color: #DDDDDD;
  margin: 0 22px;
}

.menu a {
  color: #000000;
}

.menu a:hover {
  font-weight: bold;
}

.menu a.active {
  font-weight: bold;
}

.menu .fa-cloud {
  font-size: 1.5em;
  color: #D14343;
  margin-top: -5px;
  margin-right: 10px;
}

.background-image {
  position: relative;
}

.background-image img {
  position: absolute;
  left: 0;
  top: -2px;
}

.front-image {
  position: relative;
  height: 450px;
  margin-bottom: 48px;
}

.front-image__featured {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 40px;
  margin: 0;
  background: white;
  border-radius: 0px 5px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-image__featured .fa-star {
  font-size: 18px;
  line-height: 21px;
  color: #D24545;
  margin-right: 5px;
}

.latest {
  margin-top: 48px;
  gap: 40px;
}

.latest__headline {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.latest__news h2 {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 36px;
}

.latest__news article {
  position: relative;
}

.latest__news article div {
  position: absolute;
  top: 5px;
  content: "";
  width: 6px;
  height: 43.04px;
  background: #D24545;
}

.latest__news article .article-items {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.latest__news h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.latest__news p {
  font-size: 14px;
  line-height: 130%;
  color: #2F2F2F;
}

.latest__news hr {
  margin: 20px 0;
}
/*# sourceMappingURL=main.css.map */